@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
body {
  margin: 0;
  display: flex;
  height: 100vh;
  background: #240041;
  font-family: Montserrat, sans-serif;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.thanks {
  margin: auto;
  font-size: 20vw;
  text-align: center;
  text-transform: uppercase;
  color: #900048;
  white-space: nowrap;
  letter-spacing: -.15em;
}

span:nth-child(1) {
  animation: blink 1s steps(1, start) 0.33s infinite;
}

span:nth-child(2) {
  animation: blink 1s steps(1, start) 0.66s infinite;
}

span:nth-child(3) {
  animation: blink 1s steps(1, start) 0.33s infinite;
}

span:nth-child(4) {
  animation: blink 1s steps(1, start) 0.66s infinite;
}

span:nth-child(5) {
  animation: blink 1s steps(1, start) 0.33s infinite;
}

span:nth-child(6) {
  animation: blink 1s steps(1, start) 0.66s infinite;
}

@keyframes blink {
  33% {
    color: #FF4057;
  }
  66% {
    color: #FF8260;
  }
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 350px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

/*.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
